<% if (user) {%>
  <span>Welcome back, @<%= locals.user.username %>!</span>
  <form action="/auth/logout" method="POST" style="display:inline;">
    <button type="submit">Log out</button>
  </form>
  <hr>
  <div>
    <a href="/folders/new">New folder</a>
    <a href="/folders">View folders</a>
  </div>
<% } else { %>
  <a href="/auth/signup">Sign up</a>
  <a href="/auth/login">Log in</a>
<% } %>
