<div class="toolbar">
  <button onclick="location.href='/folders/new'">📁 New Folder</button>
</div>

<div class="address-bar">
  <span>📁</span>
  <span>My Drive</span>
</div>

<% if (folders.length > 0) { %>
  <div class="folder-grid">
    <% for (const folder of folders) { %>
      <a href="/folders/<%= folder.id %>" class="folder-item">
        <span class="folder-icon">📁</span>
        <span class="folder-label"><%= folder.name %></span>
      </a>
    <% } %>
  </div>
<% } else { %>
  <p>No folders yet. Click "New Folder" to get started.</p>
<% } %>

<div class="status-bar">
  <p class="status-bar-field"><%= folders.length %> object(s)</p>
</div>
