<h1>My Drive</h1>
<a href="/folders/new">New Folder</a>
<ul>
  <% for (const folder of folders) { %>
    <li>
      <%= folder.name %>
      <a href="/folders/<%= folder.id %>">View</a>
      <a href="/folders/<%= folder.id %>/edit">Edit</a>
    </li>
  <% } %>
</ul>
