<h1>My Drive</h1>
<a href="/folders/new">New Folder</a>
<% if (folders.length > 0) { %>
<ul>
  <% for (const folder of folders) { %>
    <li>
      <%= folder.name %>
      <a href="/folders/<%= folder.id %>">View</a>
      <a href="/folders/<%= folder.id %>/edit">Edit</a>
    </li>
  <% } %>
</ul>
<% } else { %>
<p>No folders yet. Create one to get started.</p>
<% } %>
