<div class="address-bar">
  <a href="/folders">My Drive</a>
  <span>&rsaquo;</span>
  <span>New Folder</span>
</div>

<%- include("../partials/errors") %>

<fieldset>
  <legend>New Folder</legend>
  <form action="/folders" method="POST">
    <div class="form-row">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= locals.input?.name || '' %>"
        style="flex: 1"
      />
      <button type="submit">Create</button>
    </div>
  </form>
</fieldset>
