<h1>New folder</h1>
<%- include("../partials/errors") %>
<form action="/folders" method="POST">
  <label for="name">Folder name</label>
  <input
    type="text"
    name="name"
    id="name"
    value="<%= locals.input?.name || '' %>"
  />
  <button type="submit">Create</button>
</form>
