<div class="auth-window">
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">Log In - File Uploader</div>
      <div class="title-bar-controls">
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <%- include("../partials/errors") %>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            type="text"
            value="<%= locals.input?.username || '' %>"
            style="width: 100%"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            style="width: 100%"
          />
        </div>
        <div class="form-row">
          <button type="submit">Log In</button>
        </div>
      </form>
      <br />
      <p>Don't have an account? <a href="/auth/signup">Sign up</a></p>
    </div>
  </div>
</div>
